[add "interactive"]
	useBuiltin = false
[alias]
	# Usage: git diffref [<ref specifier> [<diff options>]]
	#        git diffref 1 -R
	diffref = !"diffref() { local ref_spec=\"${1:-1}\"; if [ $# -gt 0 ]; then shift; fi; git diff \"$@\" HEAD@{\"$ref_spec\"}..HEAD; }; diffref"
	dt = difftool
	edit = !"edit() { unset GIT_DIR GIT_WORK_TREE && if [ $# -gt 0 ]; then qfvim git quickfix \"$@\"; else qfvim; fi; }; edit"
	fugit = !"fugit() { unset GIT_DIR GIT_WORK_TREE && nvim -c 'Git' -c 'only'; }; fugit"
	graph = log --date=relative --decorate --graph --oneline
	lstags = submodule --quiet foreach --recursive 'echo "set tags+=$(git rev-parse --git-dir)/tags"'
	message = !"message() { git log --format='%B' ${1:-HEAD~..HEAD}; }; message"
	mktags = !"$(git rev-parse --git-path hooks)/tags"
	mt = mergetool
	rifh = rebase --interactive FETCH_HEAD
	twig = branch --sort=-committerdate --verbose
[commit]
	verbose = true
[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less
[diff]
	algorithm = histogram
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	path = nvim
[diff-so-fancy]
	changeHunkIndicators = false
[init]
	defaultBranch = main
	templatedir = ~/.git_template
[interactive]
	diffFilter = diff-so-fancy --patch
[merge]
	conflictStyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path = nvim
[push]
	default = simple
[user]
	name = Chad Paradis
[include]
	path = ~/.local/etc/.gitconfig
