[alias]
	dt = difftool
	edit = !git ls-files --modified -z | xargs -0 $EDITOR
	graph = log --date=relative --decorate --graph --oneline
	maketags = !$(git rev-parse --git-dir)/hooks/tags.sh
	mt = mergetool
	listtags = !git submodule --quiet foreach git rev-parse --git-dir | awk '{ print \"set tags+=\"$0\"/tags\" }'
[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore_global
	pager = less -+FX
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = $EDITOR -R -f -d -c 'wincmd l' -c 'cd $GIT_PREFIX' "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
[init]
	templatedir = ~/.git_template
[merge]
	conflictStyle = diff3
	tool = nvimmerge
[mergetool "nvimmerge"]
	cmd = $EDITOR -f -d -c '4wincmd w | wincmd J' "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
[mergetool]
	prompt = false
[push]
	default = simple
[user]
	name = Chad Paradis
