[alias]
	# Usage: git diffref [<ref specifier> [<diff options>]]
	#        git diffref 1 -R
	diffref = !"diffref() { local ref_spec=\"${1:-1}\"; if [ $# -gt 0 ]; then shift; fi; git diff \"$@\" HEAD@{\"$ref_spec\"}..HEAD; }; diffref"
	dt = difftool
	# Usage: git edit [<diff options>]
	#        git edit --staged
	edit = jump diff
	graph = log --date=relative --decorate --graph --oneline
	listtags = submodule --quiet foreach --recursive 'git rev-parse --git-dir | echo "set tags+=$(cat -)/tags"'
	maketags = !"$(git rev-parse --git-dir)/hooks/tags"
	mt = mergetool
	rofh = rebase --interactive FETCH_HEAD
	twig = branch --sort=-committerdate --verbose
[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	path = nvim
[init]
	templatedir = ~/.git_template
[merge]
	conflictStyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	path = nvim
[push]
	default = simple
[user]
	name = Chad Paradis
[include]
	path = ~/.gitconfig.local
